$debug: false;
//$debug: true;


$desktopHeaderWidth: 34vw;
$desktopGeneralWidth: 50vw;
$desktopVideoWidth: 36rem;

$key-color: #f7dbff;


$keycolor1: null;
$keycolor2: null;
$keycolor3: null;
$keycolor4: null;
$keycolor5: #6c4b34; //brown





$ticket-color:#f1ff8b;

$mid-grey: #8b8b8b;

$backgroundColor: transparent;

$tableBorderStrokeWidth: 0.08rem;
$tableBorder: $tableBorderStrokeWidth solid black;
