.agenda-container{
	overflow: hidden;
	position: relative;
	width: 100%;
	.seperator{
		width: 100%;
		border-bottom: 2px solid black;
		h2{
			text-align: center;
			font-weight: 300;
			padding-bottom: 10px;
		}
	}
	.agenda-item{
		width: 100%;
		height: auto;
		overflow: hidden;
		margin: 24px 0;
		a{
			display: flex;
		}
		.info{
			width: 50%;
			.info-wrapper{
				height: 100%;
				display: flex;
				flex-direction: column;
				// justify-content: space-between;
				padding: 0 20px;
				span{
					font-weight: 200;
				}
				.date{
					font-size: 32px;
				}
				h3{
					font-size: 32px;
					font-weight: 500;
					margin: 0;
				}
				.apply{
					margin-top: 24px;
					font-size: 24px;
				}
			}
		}
		.image{
			width: 50%;
			height: auto;
			position: relative;
			overflow: hidden;
			aspect-ratio: 16/9;
		}
	}
	.timeline-item {
		text-align: center;
		width: 100%;
		font-size: 32px;
		font-weight: 200;
		padding: 24px 0;
		&.missing{
			padding: 24px 0 0 0;
		}
		.line{
			width: 2px;
			height: 50px;
			background-color: black;
			display: block;
			margin: auto;
		}
	}
}