.big-animation{
	background-color: black;
	@keyframes noise-anim {
		$steps: 10;

		@for $i from 0 through $steps {
			#{percentage($i*(1/$steps))} {
				clip: rect(random(520) + px, 100vh, random(520) + px, 0);
			}
		}
	}
	@keyframes noise-anim-2 {
		$steps: 10;

		@for $i from 0 through $steps {
			#{percentage($i*(1/$steps))} {
				clip: rect(random(520) + px, 100vh, random(520) + px, 0);
			}
		}
	}
	.glitch{
		color: white;
		font-size: 24vw;
	}
	.glitch:before, .glitch:after{
		background-color: black;
		color: white;
	}
	.logo{
		position: relative;
		margin-top: 5vw;
		margin-left: 5vw;
	}
	.logo .s1 {
		z-index: 9;
	}
	.logo .s2{
		top: 20vw;
		z-index: 0;
	}
	
}