.article {
  margin-top: 10px;
  .subtitle {
    font-size: 21px;
    margin-top: 5px;
  }
  .title {
    width: 100%;
    border-bottom: 2px solid #000;
    padding: 10px 0;
    .category {
      font-size: 14px;
      font-weight: 100;
      text-transform: capitalize;
    }
  }
  .content {
    display: flex;
    
  }
  &.visit{
    .content .wrapper{
      p{
        font-size: 21px;  
        padding-left: 150px;
      }
      h2{
        margin-top: 14px;
        font-size: 30px;
      }
    }
  }
  .wrapper {
    // width: 1100px;
    width: auto;
    max-width: 1100px;
    position: relative;
    height: fit-content;
    &.community{
      display: flex;
      flex-wrap: wrap;
      .columns{
        flex-direction: column-reverse;
        width: 300px;
        .caption{
          width: 100%;
        }
      }
      .community-block {
        width: auto;
        &.embed{
          width: 100%;
        }
        display: inline-block;
        .text-block.big{
          width: 750px;
          max-width: 100%;
          margin-left: 36px;
        }
      }
    }
    &.about{
      width: calc(100% - 550px);
    }
  }
  h1 {
    font-size: 36px;
    font-weight: 300;
    // max-width: 1100px;
    line-height: 1.1;
  }
  .columns {
    display: flex;
    // width: 1100px;
    margin-top: 14px;
    .image {
      width: 75%;
      margin: 0;
    }
    .caption {
      font-size: 14px;
      width: 25%;
      font-weight: 100;
      margin-right: 14px;
      p{
        font-size: 14px;
        font-weight: 100;
      }
    }
  }
  .sidenote {
    position: absolute;
    left: calc(100% + 24px);
    width: 100%;
    max-width: 20%;
    a{
      font-size: inherit;
    }
    &.small {
      font-size: 14px;
      max-width: 300px;
      font-weight: 100;
    }
    &.big {
      font-size: 48px;
    }
  }
  .image {
    width: 100%;
    margin-top: 14px;
    &.community{
      width: 300px!important;
      height: 300px!important;
      overflow: hidden;
      border-radius: 50%;
      position: relative;
      div{
        width: 100%;
        height: 100%;
        img{
          object-fit: cover;
        }
      }
    }
    &.small {
      max-width: 30%;
      padding-left: 150px;
    }
    &.medium {
      max-width: 60%;
      padding-left: 150px;
    }
    &.big {
      width: 100%;
      min-width: 500px;
      
      div{
        width: 100%;
      }
      img{
        width: 100%;
      }
    }
  }
  .text-block {
    // max-width: 1100px;
    width: 100%;
    padding-bottom: 24px;
    position: relative;
    a {
      color: #000;
      text-decoration: underline;
    }
    h2 {
      font-weight: 300;
    }
    p {
      margin: 14px 0;
      padding-right: 24px;
    }
    &.big {
      font-size: 48px;
      padding-bottom: 14px;
    }
    &.medium {
      font-size: 30px;
    }
    &.small {
      font-size: 21px;
      ul{
        padding-left: 150px;
        p{
          padding-left: 0;
        }
      }
      p {
        padding-left: 150px;
      }
    }
  }
  .footnotes{
    font-size: 14px;
    font-weight: 100;
    p{
      font-size: 14px;
      font-weight: 100;
    }
    a{
      font-size: inherit;
      text-decoration: underline;
      font-weight: 100;
      font-size: 14px;
    }
  }
  .sidebar {
    margin-left: 24px;
    font-size: 30px;
    line-height: 1;
    width: 100%;
    min-width: 20%;
    max-width: 25%;
    position: relative;
    margin-right: 24px;
    &.about{
      width: 100%;
      min-width: auto;
      max-width: auto!important;
    }
    .contact{
      padding: 24px;
      // max-width: 500px;
      width: 500px;
      p{
        font-size: 21px;
        font-weight: 100;
        line-height: 1.1;
      }
      a{
        font-size: 30px;
      }
      h1, h2, h3{
        font-weight: 500;
        line-height: 1.1;
      }
    }
    .locations{
      margin-top: 14px;
      span{
        margin: 0;
      }
    }
    .available-links{
      p{
        margin: 0;
      }
    }
    p {
      font-weight: 100;
    }
    span {
      font-size: 14px;
      display: block;
      margin-top: 14px;
      line-height: 1.8;
      font-weight: 100;
    }
    a {
      display: block;
      font-size: 30px;
      color: #000;
      text-decoration: none;
      line-height: 1.2;
      font-weight: 500;
      transition: fontWeight 0.1s;
      
      &:hover {
        font-weight: 200;
        letter-spacing: 1.1px;
      }
    }
    .links {
      // max-width: 300px;
      font-size: 14px;
      line-height: 1.2;
      p{
        display: flex;
        font-size: 30px;
        margin: 10px 0;
        a{
          margin-left: 5px;
        }
      }
    }
  }
}


.festival-wrapper .sub{
  margin-top: 0;
  width: 100%;
  &.discover{
    // margin-top: -24px;
    padding-bottom: 100px;
    .filter .button {
      margin: 3px;
      font-size: 18px;
    }
  }
}