@keyframes textAnimation {
	0% {
		font-variation-settings: 'wght' 100;
		-moz-font-variation-settings: 'wght' 100;
	}

	100% {
		font-variation-settings: 'wght' 60;
		-moz-font-variation-settings: 'wght' 60;
	}
}


.letter{
	&:nth-child(3n){
		animation-delay: 2s;
	}
	&:nth-child(5n) {
		animation-delay: 5s;
	}
	animation: textAnimation 10s infinite ease-in-out alternate;
}

.type img{
	position: absolute;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	z-index: -1;
}


@font-face {
	font-family: "Crystal";
	src: url("../fonts/SONIC-CRYSTAL/Sonic-Crystal-V07VF.woff2");
	font-weight: 50 100;
	font-display: swap;
}


@font-face {
	font-family: "Crystal2";
	src: url("../fonts/SONIC-CRYSTAL/Sonic-Crystal-V08VF.woff2");
	font-weight: 50 100;
	font-display: swap;
}

@font-face {
	font-family: "Crystal3";
	src: url("../fonts/SONIC-CRYSTAL/Sonic-Crystal-V09VF.woff2");
	font-weight: 50 100;
	font-display: swap;
}

@font-face {
	font-family: "Crystal4";
	src: url("../fonts/SONIC-CRYSTAL/Sonic-Crystal-V10VF.woff2");
	font-weight: 50 100;
	font-display: swap;
}

@font-face {
	font-family: "Crystal5";
	src: url("../fonts/SONIC-CRYSTAL/Sonic-Crystal-V11VF.woff2");
	font-weight: 50 100;
	font-display: swap;
}

@font-face {
	font-family: "Crystal6";
	src: url("../fonts/SONIC-CRYSTAL/Sonic-Crystal-V12VF.woff2");
	font-weight: 50 100;
	font-display: swap;
}

@font-face {
	font-family: "Grime";
	src: url("../fonts/SONIC-CRYSTAL/Sonic-grime-open-01VF.woff2");
	font-weight: 50 100;
	font-display: swap;
}

@font-face {
	font-family: "Grime2";
	src: url("../fonts/SONIC-CRYSTAL/Sonic-grime-open-02VF.woff2");
	font-weight: 50 100;
	font-display: swap;
}

@font-face {
	font-family: "Grime3";
	src: url("../fonts/SONIC-CRYSTAL/Sonic-grime-open-03VF.woff2");
	font-weight: 50 100;
	font-display: swap;
}


.biennial-2022.menu-modal {
	background-image: url(../noise-fes.png);
}

.festival-hero.festival-hero-type {
	width: 100vw;
	height: 100vh;
	.title{
		height: 100vh;
		position: absolute;
		z-index: 0;
	}
	.bg{
		z-index: 999!important;
	}
}

.festival-hero-bg {
	width: 100vw;
	height: 250vh;
	position: relative;
	overflow: hidden;
	.title {
		height: 250vh;
		position: absolute;
		z-index: 0;
		top: 350px;
	}
	div {
		position: absolute;
		top: 0;
		left: 0;
		font-size: 40vh;
		line-height: 0.7;
		width: 80vw;
		padding: 50px 10vw;
		// text-align: left;
		// height: 100vh;
		// overflow: hidden;

		span {
			display: inline-block;
		}
		&.layer1 {
			color: rgb(255, 203, 5);
			font-family: Crystal2, sans-serif;
			:nth-child(6n){
				color: #cfe7cc;
			}
			:nth-child(6n+1) {
				color: rgb(255, 221, 235);
			}
			:nth-child(6n+2) {
				color: #2e0e29;
			}
			:nth-child(6n+3) {
				color: #974b8e;
			}
			:nth-child(6n+4) {
				color: rgb(0, 82, 83);
			}
						
		}
	
		&.layer2 {
			color: rgb(0, 82, 83);
			font-family: Crystal5, sans-serif;
			:nth-child(6n) {
				color: #974b8e;
			}
			:nth-child(6n+1) {
				color: rgb(255, 203, 5);
			}
			:nth-child(6n+2) {
				color: #cfe7cc;
			}
			:nth-child(6n+3) {
				color: rgb(255, 221, 235);
			}
			:nth-child(6n+4) {
				color: #2e0e29;
			}

		}
	
		&.layer3 {
			color: white;
			font-family: Grime, sans-serif;
		}
	}
	&.type div {
		width: 100vw;
		padding: 50px 0;
	}
}


.festival{
	background-color: rgb(180,200,200);
	height: 100vh;
	width: 100vw;
	position: absolute;
	left: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	.content-wrapper {
		position: absolute;
		z-index: 1;
		top: 450px;
		width: 98vw;
		left: 1vw;
	}
	.menu .menu-wrapper{
		background-color: transparent;
		border-bottom: 0;
		position: absolute;
		.breadcrumbs{
			.logo-wrapper a{
				display: block;
			}
		}
		.hamburger{
			position: fixed;
		}
	}
	.glitch:after, .glitch:before{
		background-color: rgb(180, 200, 200);
	}
	.festival-hero{
		background-color: transparent;
		.bg{
			top: 0px;
			position: fixed;
			width: 100vw;
			height: 100vh;
			z-index: -1;
			background-image: url('../fes-noise.svg');
			background-position: top left;
		}
		.wrapper{
			width: 100%;
			border-top: 4px solid black;
		}
		.title{
			position: relative;
			&.title_1 div {
				margin-top: -30vh;
				height: calc(100vh + 30vh);
			}
			&.title_2 div {
				margin-top: -45vh;
				height: calc(100vh + 45vh);
			}
			div{
				position: absolute;
				top: 400px;
				left: 0;
				font-size: 40vh;
				line-height: 0.7;
				z-index: -2;
				width: 100vw;
				text-align:left;
				height: 100vh;
				overflow: hidden;
				span{
					// opacity: 0.8;
					display: inline-block;
					// &:nth-child(1){
					// 	margin-left: 35%;
					// }
				}
				&.layer1{
					color: rgb(255, 203, 5);
					&.layer1_0 {
						font-family: Grime3, sans-serif;
						font-weight: 100;
					}
					&.layer1_1 {
						color: rgb(0, 82, 83);;
						// color: rgb(255, 221, 235);
						font-family: Crystal3, sans-serif;
						font-weight: 100;
					}
					&.layer1_2{
						color: rgb(255, 221, 235);
						font-family: Crystal6, sans-serif;
						font-weight: 100;
					}
				}
				&.layer2 {
					color: rgb(0,82,83);
					&.layer2_0 {
						font-family: Grime2, sans-serif;
					}
					&.layer2_1 {
						font-family: Crystal2, sans-serif;
						color: #cfe7cc;
						// color:rgb(255,203,5);
					}
					&.layer2_2 {
						font-family: Crystal5, sans-serif;
						color: #2e0e29;
					}
				}
				&.layer3 {
					color: white;
					&.layer3_0 {
						font-family: Grime, sans-serif;
						font-weight: 100;
					}
					&.layer3_1 {
						font-family: Crystal, sans-serif;
						font-weight: 100;
					}
					&.layer3_2 {
						font-family: Crystal4, sans-serif;
						font-weight: 100;
					}
				}
			}
		}
		.info{
			font-weight: 500;
			font-size: 10vw;
			line-height: 1;
			h1{
				font-size: 8vw;
				font-weight: 900;
				text-transform: uppercase;
				padding: 24px 0px 12px 0px;
			}
			.date{
					font-size: 4vw;
					padding: 0;
					padding-left: 2vw;
					line-height: 1.2;
			}
			.locations {
				margin-top: 24px;
				border-top: 4px solid black;
				// background-color: #7A868E;
				display: flex;
				font-size: 2.5vw;
				line-height: 1.1;
				padding: 0px 24px;
				padding: 2vw;
				.location{
					margin-right: 3vw;
				}
			}
		}
	}
	.article{
		display: flex;
		flex-wrap: wrap;
		background-color: rgb(180, 200, 200);
		.image.small, .image.medium{
			padding-left: 0;
		}
	}
	.text-block{
		max-width: 100%;
		a{
			transition: all 0.5s ease-in-out;
			font-family: Crystal3;
			font-variation-settings: 'wght' 50;
			-moz-font-variation-settings: 'wght' 50;
			text-decoration: none;
			&:hover{
				font-variation-settings: 'wght' 100;
				-moz-font-variation-settings: 'wght' 100;
			}
		}
	}
	.Collapsible{
		.text-block {
			max-width: 1100px;
		}
	}
	.text-block.small{
		width: 600px;
		p{
			padding-left: 0;
			padding-right: 100px;
		}
	}
	.footer{
		display: none;
	}
	.intro-text {
		width: 1100px;
		position: absolute;
		z-index: 99;
		left: 2vw;
		display: flex;
		align-items: flex-start;
		div{
			a{
				color: black;
			}
			&:first-child{
				width: 30%;
			}
			&:last-child {
				width: 70%;
			}
		}
	}
	.type .letter {
		animation: textAnimation2 10s 2 ease-in-out;
		div{
			font-size: 40vw;
		}
	}
}

@keyframes textAnimation2 {
	0% {
		font-variation-settings: 'wght' 100;
		-moz-font-variation-settings: 'wght' 100;
	}

	50% {
		font-variation-settings: 'wght' 60;
		-moz-font-variation-settings: 'wght' 60;
	}

	100% {
		font-variation-settings: 'wght' 100;
		-moz-font-variation-settings: 'wght' 100;
	}
}
