@media only screen and (max-width: 1100px) {
	.festival-wrapper .text-block.small {
		width: 94vw;
		p{
			padding-right: 0;
			padding-left: 3vw !important;
		}
	}
	.festival-wrapper .festival-logo{
		width: 120px;
		div{
			font-size: 36px;
			margin-top: 8px;
			span{
				display: none;
			}
			span:nth-child(1){
				display: inline-block;
			}
			span:nth-last-child(4), span:nth-last-child(3), span:nth-last-child(2), span:nth-last-child(1) {
				display: inline-block;
			}
			
		}
	}
	.festival {
		.content-wrapper {
			top: 650px;
		}

		.text-block.small {
			width: 94vw;

			p {
				padding-right: 0;
				padding-left: 3vw!important;
			}
		}

		.article .image.small {
			max-width: 100%;
		}

		.article h1{
			font-size: 30px;
		}

		.Collapsible {
			.text-block {
				max-width: 100%;
			}
		}

		.menu {
			.menu-wrapper {
				.breadcrumbs {
					margin-top: 0px;
					top: 550px;
					a{
						font-size: 64px;
					}
					.logo-small .glitch {
						font-size: 64px;
					}
				}
			}
		}

		.festival-hero-bg {
			.title{
				top: 600px;
			}
			div{
				font-size: 20vh;
			}
		}

		.festival-hero {


			.info {
				padding: 0;

				h1 {
					margin-top: 10px;
					font-size: 14vw;
					padding: 5px 12px;
					overflow:hidden;
					word-wrap: break-word;
				}

				.date {
					font-size: 36px;
					padding: 0px 12px;
				}

				.locations-wrapper {
					font-size: 36px;
					.title-text {
						padding-left: 12px;
					}
				}

				.locations {
					flex-wrap: wrap;
					font-size: 24px;
				}
			}
		}
		.intro-text {
			width: 95%;
			position: absolute;
			z-index: 99;
			flex-direction: column-reverse;
			div {
				&:first-child {
					width: 100%;
				}

				&:last-child {
					width: 100%;
				}
			}
		}
	}
	.festival-wrapper .intro-text {
		width: 95%;
		z-index: 99;
		flex-direction: column-reverse;

		div {
			&:first-child {
				width: 100%;
			}

			&:last-child {
				width: 100%;
			}
		}
	}
}

@media only screen and (max-width: 900px) {
	.festival {
		.menu{
			.menu-wrapper {
				.breadcrumbs {
					margin-top: 0px;
					top: 0;
					a {
						font-size: 36px;
					}
				
					.logo-small .glitch {
						font-size: 36px;
					}
				}
			}
		}
		.intro-text {
			top: 60px;
		}
		.content-wrapper{
			top: 600px;
		}
		.festival-hero{
			.bg{
					background-image: url('../noise-fes2.png');
					background-position: top left;
					background-size: cover;
			}
		}
	}
}