.discover {
  margin-top: 14px;
  .intro {
    a {
      text-decoration: underline;
      font-size: 30px;
    }
  }
  h1 {
    font-weight: 300;
    line-height: 1.1;
  }
  .filter {
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
    div{
      padding: 0;
      margin: 0;
    }
    a {
      margin-right: 10px;
      color: #000;
      text-decoration: none;
      text-transform: capitalize;
      display: inline-block;
      line-height: 1;
      cursor: pointer;
      font-size: 21px;
      font-weight: 500;
      background-color: rgb(242, 242, 242);
      padding: 5px 15px;
      border-radius: 20px;
      &.active{
        background-color: white;
      }
    }
    span {
      font-size: 14px;
      font-weight: 100;
    }
  }
  .highlight {
    margin-top: 14px;
    display: flex;
    width: 1100px;
    .image {
      width: 60%;
      position: relative;
    }
    .text {
      width: 40%;
      padding: 0 14px;
    }
  }
  .date {
    margin-top: 10px;
    font-size: 21px;
    font-weight: 300;
    line-height: 27px;
  }
  a {
    color: #000;
    font-size: 48px;
    font-weight: 500;
    line-height: 1;
  }
  .category {
    display: block;
    font-size: 14px;
    line-height: 1.2;
    a {
      font-size: 14px;
      font-weight: 100;
    }
  }
  .discover-container {
    display: flex;
    margin-top: 14px;
    flex-wrap: wrap;
    width: 98vw;
    .infinite-scroll-component__outerdiv{
      width: 100%;
    }
    .infinite-scroll-component{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
    .discover-item {
      width: 33.33%;
      position: relative;
      margin-bottom: 48px;
      &:nth-child(3n+1){
        .item-wrapper {
          padding-right: 1vw;
        }
      }
      &:nth-child(3n+2) {
        .item-wrapper {
          padding-right: 1vw;
        }
      }
      .title{
        line-height: 1.1;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
      &.community {
        margin: 14px 0;
        a {
          font-size: 30px;
          line-height: 1.2;
          display: flex;
          flex-wrap: wrap;
          width: 30vw;
          align-items: center;
          .image {
            height: 80px;
            width: 80px;
            overflow: hidden;
            border-radius: 50%;
            background-color: grey;
          }
          .info {
            padding: 0 14px;
            width: calc(100% - 150px);
            div {
              font-size: 21px;
              font-weight: 200;
            }
          }
        }
      }
      .image {
        width: 100%;
        height: 20vw;
        position: relative;
        margin-bottom: 7px;
      }
    }
  }
}
