.discover {
  .discover-container{
    min-height: 150vh;
  }
  .programme-container{
    min-height: 0;
  }
  // margin-top: 14px;
  .intro {
    a {
      text-decoration: underline;
      font-size: 30px;
    }
  }
  h1 {
    font-weight: 300;
    line-height: 1.1;
  }
  .filter {
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
    div{
      padding: 0;
      margin: 0;
    }
    a, .button {
      margin-right: 10px;
      color: #000;
      text-decoration: none;
      text-transform: capitalize;
      display: inline-block;
      line-height: 1;
      cursor: pointer;
      font-size: 21px;
      font-weight: 500;
      background-color: white;
      padding: 5px 15px;
      border-radius: 20px;
      &.active, &.is-checked{
        background-color: black;
        color: white;
      }
    }
    span {
      font-size: 14px;
      font-weight: 100;
    }
    .sort{
      cursor: pointer;
      &.true{
        &:before{
          content: 'Old ';
        }
        &:after {
          content: ' New';
        }
      }
      &.false {
        &:before {
          content: 'New ';
        }

        &:after {
          content: ' Old';
        }
      }
    }
  }
  .highlight {
    margin-top: 14px;
    display: flex;
    width: 1100px;
    .image {
      width: 60%;
      position: relative;
    }
    .text {
      width: 40%;
      padding: 0 14px;
    }
  }
  .date {
    margin-top: 10px;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.1;
  }
  a {
    color: #000;
    font-size: 48px;
    font-weight: 500;
    line-height: 1;
  }
  p a{
    font-size: inherit;
  }
  .category {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    line-height: 1.2;
    // justify-content: space-between;
    a {
      font-size: 14px;
      font-weight: 100;
    }
  }
  .discover-container {
    display: flex;
    margin-top: 14px;
    flex-wrap: wrap;
    width: 100%;
    .infinite-scroll-component__outerdiv{
      width: 100%;
    }
    .infinite-scroll-component{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
    .discover-item {
      width: 33.33%;
      position: relative;
      margin-bottom: 48px;
      height: 100%;
      &:nth-child(3n+1){
        .item-wrapper {
          padding-right: 1vw;
        }
      }
      &:nth-child(3n+2) {
        .item-wrapper {
          padding-right: 1vw;
        }
      }
      .when {
        display: inline-block;
        font-weight: 200;
      }
      .info-overlay{
        position: absolute;
        padding: 14px;
        display: flex;
        flex-direction: column;
        span{
          font-size: 14px;
          font-weight: 100;
        }
        .locations{
          font-size: 21px;
        }
        .location{
          span{
            font-size: 21px;
            font-weight: 300;
          }
          background-color: white;
          border-radius: 50px;
          margin: 10px 10px 0 0;
          padding: 5px 10px;
          display: inline-block;
        }
      }
      .title-wrapper {
        .authors{
          line-height: 1.1;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          font-size: 24px;
          font-weight: 200;
        }
        &:hover{
          font-weight: 200;
          // letter-spacing: 1.2px;
        }
      }
      .title{
        line-height: 1.1;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        font-size: 36px;
        &:hover{
          font-weight: 200;
          letter-spacing: 1.2px;
        }
      }
      &.community {
        margin: 14px 0;
        a {
          font-size: 30px;
          line-height: 1.2;
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          align-items: center;
          .image {
            height: 100px;
            width: 100px;
            overflow: hidden;
            border-radius: 50%;
            background-color: grey;
          }
          .info {
            padding: 0 14px;
            width: calc(100% - 150px);
            div {
              font-size: 21px;
              font-weight: 200;
            }
          }
        }
      }
      .image {
        width: 100%;
        height: 25vw;
        position: relative;
        margin-bottom: 7px;
        mask-image: url('../noise-bg-2.png');
        mask-size: cover;
        mask-repeat: no-repeat;
        mask-position: top;
        transition: all 0.4s ease;
        &:hover{
          mask-image: url('../white.png');

        }
      }
      &.artist-item{
        .image {
          height: 25vw;
        }
      }
    }
  }
}

.category a {
  color: #000;
}

.author{
  &.by-line{
    &:nth-child(2){
      &:before {
        content: ", with "
      }
    }
  }
  display: inline-block;
  &:after{
    content: ",";
    margin-right: 5px;
  }
  &:last-child{
    &:after {
      content: ""
    }
  }
}

.main-title-wrapper {
  .authors{
    line-height: 1.1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    .author{
      font-size: 36px;
    }
  }
  .title{
    font-size: 36px;
  }
  &:hover{
    font-weight: 200;
    letter-spacing: 1.2px;
  }
}

.crt-feed .crt-grid-post{
  &:nth-child(2){
    display: none;
  }
}