@font-face {
  font-family: "SuisseIntl";
  src: url("../fonts/SuisseIntl-Medium-WebM.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("../fonts/SuisseIntl-Regular-WebM.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("../fonts/SuisseIntl-Light-WebM.woff2");
  font-weight: 200;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("../fonts/ABCDiatypeMono-Regular-Trial.woff2");
  font-weight: 100;
}

@font-face {
  font-family: "Sonic";
  src: url("../fonts/SonicLogoV02-Medium.woff");
  font-weight: 100;
}

@font-face {
  font-family: "Sonic Logo";
  src: url("../fonts/Sonic-Acts-Logo-V05.woff2");
  font-weight: 100;
}