@media only screen and (max-width: 600px) {
	body{
		font-size: 21px;
	}
	h1{
		font-size: 36px;
	}
	.logo-small{
		display: none;
	}
	.search-bar{
		display: none;
	}
	.glitch{
		font-size: 90px;
	}
	.logo .s2{
		top: 80px;
	}
	.image.logo{
		height: 170px;
		width: 80%;
	}
	.home-menu{
		width: 100%;
	}
	.columns .highlight{
		padding-right: 0;
	}
	.columns .wrapper-medium, .columns .wrapper-large{
		width: 100%;
		flex-direction: column;
	}
	.menu .menu-wrapper .breadcrumbs a{
		font-size: 36px;
	}
	.article .wrapper, .article .text-block{
		width: 100%;
	}
	.article .content{
		flex-direction: column;
	}
	.article .text-block.small p{
		padding-left: 24px;
		font-size: 18px;
	}
	.article .sidebar {
		margin: 0;
		.contact{
			padding: 0;
		}
	}
	.discover .highlight{
		width: 100%;
		flex-direction: column;
		.image, .text{
			width: 100%;
			padding: 0;
		}
	}
	.discover a{
		font-size: 36px;
	}
	.discover .discover-container .discover-item.community a {
		width: 100%;
	}
	.discover{
		.discover-container{
			position: relative;
			overflow-x: hidden;
			width: 98vw;
			justify-content: center;
			.infinite-scroll-component__outerdiv{
				position: relative;
				width: 98vw;
			}
			.infinite-scroll-component{
				position: relative;
				width: 98vw;
			}
			.discover-item{
				width: 100%;
				.image{
					height: 60vw;
				}
			}
		}
	}
	.wrapper{
		width: 100%;
	}
	p{
		font-size: 21px;
	}
}