.search-title{
	width: 100%;
	border-bottom: 2px solid black;
	span{
		font-size: 14px;
		font-weight: 100;
	}
	h2{
		font-weight: 500;
		text-transform: capitalize;
		line-height: 1;
	}
}

.tags {
	font-size: 14px;
	a{
		font-size: 14px;
		font-weight: 100;
		line-height: 1;
	}
}

.search-container{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin-top: 14px;
	.search-item{
		width: 33%;
		margin-bottom: 24px;
		&:nth-child(3n+1) {
			.item-wrapper {
				padding-right: 1vw;
			}
		}
		
		&:nth-child(3n+2) {
			.item-wrapper {
				padding-right: 1vw;
			}
		}
		.item-wrapper a{
			display: flex;
			text-decoration: none;
			color: black;
		}
		.content-wrapper{
			padding: 0 20px;
			width: calc(100% - 120px);
			.category, .date, .tags{
				font-size: 14px;
				font-weight: 100;
			}
		}
	}
	.image{
		width: 80px;
		height: 80px;
		position: relative;
		overflow: hidden;
		border-radius: 50%;
	}
}

.search-bar{
	input{
		border: none;
		font-size: 21px;
		color: black;
		background-color: transparent;
		&::placeholder{
			color: black;
			opacity: 1;
		}
	}
}

.menu-search .search-bar{
	width: 300px;
	margin-right: 100px;
	margin-left: auto;
	margin-top: -10px;
	margin-bottom: 15px;
	z-index: 8;
}
