.slick-slider {
	position: relative;
	padding: 14px 0;
	a:hover h2{
		font-weight: 200;
		letter-spacing: 1.2px;
	}
	.slick-next{
		right: 0;
		&:before{
			right: 0;
			position: absolute;
			margin-top: -36px;
		}
	}
	.slick-prev {
		left: 0;
		&:before {
			left: 0;
			position: absolute;
			margin-top: -40px;
			transform: scaleX(-1);
		}
	}
	.slick-next, .slick-prev{
		z-index: 8;
		width: 10vw;
		height: 100%;
		&:before{
			font-family: "SuisseIntl";
			color: black;
			opacity: 0;
			transition: all 0.4s ease;
			font-size: 48px;
			content: " ";
			width: 48px;
			height: 48px;
			// background-color: red;
			background-image: url('/arrow.svg');
			background-position: center center;
			background-repeat: no-repeat;
		}
		&:hover {
			&:before {
				opacity: 1;
			}
		}
	}
	
	.slick-track {
		display: flex !important;
	}
	.slick-list {
		position: relative;
		transition: all 0.4s ease-in-out !important;
		&:before {
			content: ' ';
			width: 10vw;
			height: 100%;
			background: url('../noise-bg.png');
			background-size: cover;
			position: absolute;
			z-index: 99;
			top: 0;
			left: 0;
			-webkit-transform: scaleX(-1);
			transform: scaleX(-1);
		}
		&:after {
			content: ' ';
			width: 10vw;
			height: 100%;
			background: url('../noise-bg.png');
			background-size: cover;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	.slick-slide {
		position: relative;
		margin-right: 48px;
		.slider-item {
			position: relative;
			width: 100%;
			max-width: calc(75vw - 400px)!important;
			// max-width: calc(75vw - 600px)!important;
			display: flex!important;
			h2 {
				width: 100%;
				line-height: 1.1;
			}
			p {
				font-size: 30px;
			}
			.image{
				width: 60%;
				height: 22vw;
				margin-right: 14px;
				div{
					width: 100%;
					height: 100%;
				}
			}
			.text {
				width: 40%;
				min-width: 300px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				div:nth-child(1){
					display: flex;
					align-items: flex-start;
					flex-direction: column;
				}
				a{
					font-size: 30px;
				}
			}
		}
		.contact-item {
			width: 400px;
			&.adres {
				width: 400px;
				max-width: 400px;
			}

			h5 {
				font-weight: 500;
				margin: 0;
			}

			p {
				font-size: 24px;
				margin: 0;
				padding: 0 24px;
				margin-bottom: 20px;
				line-height: 1.2;
			}

			&.small p {
				a {
					font-size: 30px;
					font-weight: 300;
					display: block;
					&:hover{
						font-weight: 200;
						letter-spacing: 0.7px;
					}
				}

				font-size: 14px;
				font-weight: 100;
				text-transform: lowercase;
			}
		}
		.shop-slider-item{
			max-width: 700px!important;
			.category{
				font-size: 21px;
			}
			.image{
				width: 40%;
				height: auto;
			}
			.text{
				width: 60%;
			}
		}
	}
	.show-more {
		width: 100%;
		height: calc(21vw + 14px);
		// margin-left: 12vw;
		text-align: center;
		display: flex;	
		justify-content: center;
		align-items: center;
		text-align: left;
		margin-top: -10px;
		a {
			width: 100%;
			// max-width: 100%;
			height: 100%;
			padding: 20px 30px;
			background-color: rgb(189, 189, 189);
			color: black;
			// border-radius: 70px;
			font-size: 48px !important;
			font-weight: bold;
			// text-transform: none;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all 0s;
			&:hover{
				font-weight: 200;
				letter-spacing: 1.2px;
			}
		}
	}
}

.contact .slick-slider {
	.slick-slide{
		max-width: 500px;
		
	}
}

.contact{
	.contact-wrapper{
		display: flex;
		margin-top: 14px;
		.contact-item {
			max-width: 400px;
			h5 {
				font-weight: 500;
				margin: 0;
				font-size: 30px;
				max-width: 300px;
			}
	
			p {
				font-size: 24px;
				margin: 0;
				padding: 0 24px;
				margin-bottom: 20px;
				line-height: 1.2;
			}
	
			&.small p {
				a {
					font-size: 30px;
					font-weight: 300;
					display: block;
	
					&:hover {
						font-weight: 200;
						letter-spacing: 0.7px;
					}
				}
	
				font-size: 14px;
				font-weight: 100;
				text-transform: lowercase;
			}
		}
	}
}