@font-face {
  font-family: "SuisseIntl";
  src: url("../fonts/SuisseIntl-Medium-WebM.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("../fonts/SuisseIntl-Regular-WebM.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("../fonts/SuisseIntl-Light-WebM.woff2");
  font-weight: 200;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("../fonts/ABCDiatypeMono-Regular-Trial.woff2");
  font-weight: 100;
}

@font-face {
  font-family: "Sonic";
  src: url("../fonts/SonicLogoV02-Medium.woff");
  font-weight: 100;
}

@font-face {
  font-family: "Sonic Logo";
  src: url("../fonts/Sonic-Acts-Logo-V05.woff2");
  font-weight: 100;
}



body,
html {
  font-family: "SuisseIntl";
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 30px;
  // padding-bottom: 40px;
  overflow-x: hidden;
  background-color: #e6e6e6;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  width: 100vw;
  max-width: 100vw;
  // position: absolute;
}

*:focus {
  outline: none!important;
}

.logo {
  // position: relative!important;
  // min-height: 300px;
  margin-top: -20px;
  h1 {
    font-family: "Sonic Logo";
    font-weight: 300;
    font-size: 135px;
  }
  .s1{
    position: absolute;
    // z-index: 9;
  }
  .s2{
    position: absolute;
    top: 140px;
    z-index: 0;
  }
}

.logo-small {
  position: relative;
  margin-right: 48px;
  span {
    font-family: "Sonic Logo";
    font-weight: 300;
    font-size: 64px;
  }
  .glitch{
    font-size: 64px;
    font-feature-settings: "ss04" on;
    height: 30px;
    &:before, &:after{
      font-feature-settings: "ss05" on;
    }
  }
  .glitch:before {
    animation: noise-anim-small 30s infinite ease-in-out alternate;
    animation-delay: var(--delay);
  }

  .glitch:after {
    animation: noise-anim-small-2 30s infinite ease-in-out alternate;
    animation-delay: var(--delay);
  }
}

.arrow{
  height: 20px;
}

.category a:hover, .tags a:hover{
  text-decoration: underline;
}

.columns .highlight .socials{
  margin-left: 24px;
  border-top: 2px solid #000;
  width: 100%;
  .social {
    div {
      width: 30px;
      height: 30px;
      margin: 10px 10px 0px 0px!important;
    }

    img {
      width: 50px;
      height: 50px;
    }
  }
}

.glitch {
  color: #000;
  font-family: "Sonic Logo";
  font-size: 135px;
  line-height: 0.8;
  font-feature-settings: "ss01" on;
  position: relative!important;
  width: auto;
  margin: auto auto;
  // margin-bottom: 10vh;
  display: inline-block;
  height: 110px;
  // border: 1px solid red;
  // transition-delay: var(--delay);
  // transition: all var(--delay) ease-in-out;
  // span{
  //   display: inline-block;
  // }
}
@keyframes noise-anim {
  $steps: 15;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(135) + px, 300px, random(135) + px, 0);
    }
  }
}

@keyframes noise-anim-small {
  $steps: 15;

  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100) + px, 100px, random(100) + px, 0);
    }
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  font-feature-settings: "ss02" on;
  left: 0px;
  top: 0;
  // color: #e6e6e6;
  color: #000;
  background: #e6e6e6;
  // background-color: red;
  // overflow: hidden;
  clip: rect(0, 300px, 0, 0);
  animation: noise-anim-3 30s infinite ease-in-out alternate;
  animation-delay: var(--delay);
}

@keyframes noise-anim-2 {
  $steps: 15;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(135) + px, 300px, random(135) + px, 0);
    }
  }
}

@keyframes noise-anim-3 {
  $steps: 15;

  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(135) + px, 300px, random(135) + px, 0);
    }
  }
}

@keyframes noise-anim-small-2 {
  $steps: 15;

  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100) + px, 100px, random(100) + px, 0);
    }
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  font-feature-settings: "ss02" on;
  left: 0px;
  top: 0;
  // z-index:9;
  color: black;
  // background: transparent;
  background: #e6e6e6;
  // background-color: blue;
  // overflow: hidden;
  clip: rect(0, 300px, 0, 0);
  animation: noise-anim-2 30s infinite ease-in-out alternate;
  animation-delay: var(--delay);
}

.filter-text {
  font-family: "Sonic";
  font-size: 125px;
  line-height: 0.9;
  overflow: hidden;
  position: relative;
  float: left;
  font-weight: 300;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

.iframe-wrapper{
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  &.true{
    padding-bottom: 166px;
  }
  .iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.container {
  padding: 14px 1vw;
  min-height: 100vh;
  width: 98vw;
  position: relative;
  margin-left: 0;
  overflow-x: hidden;
}

h1,
h2 {
  font-size: 48px;
  margin: 0;
}

#title {
  letter-spacing: 0.4px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.13636;
}

#banner {
  margin: 20px;
  height: 800px;
}

#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

.small-logo {
  height: auto;
  width: 300px;
}

.columns {
  width: 100%;
  .wrapper-medium {
    width: 1100px;
    display: flex;
    align-items: flex-start;
    padding-bottom: 24px;
  }
  .wrapper-large {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-top: 2px solid #000;
    padding-top: 24px;
  }
  .highlight{
    padding-right: 48px;
    width: 360px;
    display: flex;
    flex-direction: column;
    .newsletter{
      margin-top: 24px;
      margin-bottom: 10px;
      h3{
        font-size: 24px;
        font-weight: 300;
      }
    }
    .highlight-image div{
      border-radius: 50%;
      width: 360px;
      height: 360px;
      margin: 0px 20px 0px 10px!important;
      mask-image: url('../noise5.png');
      mask-size: cover;
      mask-repeat: no-repeat;
      mask-position: top;
      transition: all 0.4s ease;
      &:hover{
        mask-image: url('../white.png');
      }
    }
    a {
      color: #000;
    }
    span{
      font-size: 14px;
      padding-left: 24px;
    }
    h3{
      margin: 0;
      line-height: 1;
      font-weight: 500;
      padding-left: 24px;
      &:hover{
        font-weight: 200;
        letter-spacing: 1.2px;
      }
    }
  }
  .intro-text {
    width: 430px;
    h1{
      font-weight: 500;
      line-height: 1.1;
    }
  }
  .image {
    width: 370px;
    height: auto;
    margin-right: 100px;
  }
}

.wrapper {
  width: 900px;
  &.intro{
    margin-top: 24px;
  }
}

.Collapsible{
  cursor: pointer;
}

.collapsible {
  .show-more-link{
   text-transform: capitalize;
   font-weight: 300!important;
   &:hover{
    font-weight: 200 !important;
   }
  }
}

.collapsible.about {
  padding: 10px 0;
  width: 100%;
  // text-transform: capitalize;
  font-size: 48px;
  cursor: pointer;
  .text-block{
    width: 98%;
  }
  .Collapsible{
    span{
      display: block;
      border-bottom: 2px solid #000;
      padding: 14px 350px;
    }
  }
  .Collapsible__contentInner{
    padding: 14px 0;
  }
  .text-block.small p {
    padding: 0;
  }
  p{
    margin: 0;
  }
}

.home-menu, .feshome-menu {
  width: calc(100% - 470px);
  .index-authors, .shop-info{
    line-height: 1.1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-weight: 200;
    letter-spacing: 1.2px;
    .author{
      display: inline-block!important;
    }
  }
  .collapsible {
    padding: 14px 0;
    border-bottom: 2px solid #000;
    width: 100%;
    height: 100%;
    // text-transform: capitalize;
    font-size: 48px;
    .Collapsible__trigger{
      text-transform: capitalize;
    }
    cursor: pointer;
    a{
      color: #000;
    }
    .category {
      font-size: 14px;
      font-weight: 300!important;
    }
    &.news{
      .slider-item{
        .text{
          span{
            font-size: 21px;
          }
        }
      }
    }
    &.archive{
      .slider-item {
        .text {
          span {
            // font-weight: 200;
            font-size: 21px;
          }
        }
      }
    }
    &.agenda {
      .slider-item {
        .text {
          span {
            // font-weight: 200;
            line-height: 1;
            margin-top: 5px;
            font-size: 21px;
          }
        }
      }
    }
    &.community {
      .show-more{
        height: 150px;
      }
      .slick-slider{
        height: 200px;
      }
      .slick-slide{
        width: 450px;
      }
      .slider-item {
        align-items: center;
        .image{
          border-radius: 50%;
          overflow: hidden;
          width: 120px;
          height: 120px;
          div{
            width: 100%;
            height: 100%;
          }
        }
        .text{
          height: 200px;
          justify-content: center;
          h2{
            font-size: 30px;
            line-height: 1.2;
          }
          font-size: 30px;
          span{
            font-size: 21px;
          }
          a{
            margin-top: 14px;
            font-size: 21px;
          }
        }
      }
    }
  }
}

.feshome-menu{
  width: 100%;
}

.menu {
  position: relative;
  margin: -14px 0 0 0;
  padding: 0;
  height: 80px;
  max-width: 100vw;
  overflow-x: hidden;
  .menu-wrapper {
    z-index: 888;
    background-color: #e6e6e6;
    position: fixed;
    top: 0;
    width: 98vw;
    left: 1vw;
    display: flex;
    justify-content: space-between;
    padding: 4px 0 4px 0;
    border-bottom: 2px solid #000;
    .breadcrumbs {
      display: flex;
      width: 90%;
      .small-logo {
        margin-right: 48px;
      }
      .logo-wrapper{
        a{
          text-transform: none;
          margin: 0;
        }
      }
      a {
        display: block;
        color: #000;
        text-decoration: none;
        text-transform: capitalize;
        font-size: 60px;
        font-weight: 500;
        margin-top: -2px;
      }
    }
  }
}

.hamburger {
  position: fixed;
  right: 1vw;
  top: 14px;
  cursor: pointer;
  z-index: 2;
}

.menu-modal {
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  width: 100vw;
  // max-width: 1400px;
  background-color: #e6e6e6;
  background: url(../noise-bg5-portal.png);
  // background: url('../noise-bg5.png');
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
  .close {
    cursor: pointer;
    margin: 14px 1vw;
    right: 0;
    position: fixed;
    top: 0;
  }
  .menu-links {
    font-size: 30px;
    margin-left: calc(100% - 300px);
    a {
      display: block;
      width: 100%;
      color: #000;
      text-transform: capitalize;
      padding: 10px 14px;
      font-weight: 500;
      transition: all 0.1s;
      font-size: 30px;
      &:hover{
        font-weight: 200;
      }
    }
    .home {
      font-weight: 500;
      line-height: 1;
      margin-bottom: 14px;
    }
    .menu-link {
      margin-left: 20px;
    }
    .festival-link{
      margin-top: 36px;
      width: 80%;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
    }
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transform: translateX(1000px);
  transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateX(0px);
  z-index: 999;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateX(1000px);
}

.tags {
  padding-top: 5px;
  a {
    display: inline-block!important;

    &:not(:last-child):after {
      content: ',';
      margin-right: 10px;
    }
  }
}

.footer{
  width: 98vw;
  margin-top: 40px;
  padding: 14px 1vw;
  text-align: center;
  a.menu-link{
    margin: 0 14px;
    font-size: 14px;
    font-weight: 100;
    text-decoration: underline;
    color: black;
    text-transform: none!important;
  }
}

.map{
  width: 100%;
  margin-top: 14px;
  overflow: hidden;
  margin-bottom: 14px;
  iframe{
    width: 100%;
    height: 600px;
    margin-top: -65px;
    object-fit: cover;
    filter: saturate(30%);
    border: none;
  }
}

.article .text-block a.footnote{
  vertical-align: top;
  font-size: 14px;
  font-weight: bold;
  padding-left: 2px;
  padding-right: 2px;
}

.loader {
  position: absolute;
  top: calc(50% - 1em);
  left: calc(50% - 1em);
  width: 1em;
  height: 1em;
  border: 0.1em solid rgba(0, 0, 0, 0.2);
  border-left: 0.1em solid #000000;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
  transition: opacity 0.3s;
  &.false {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
  }
}

.loader--hide {
  opacity: 0;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.full-iframe{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: hidden;
  background-color: #000;
  div{
    padding: 0!important;
    position: fixed!important;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }
  iframe{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
  }
}

.text-block{
  h1{
    margin-top: 10px;
  }
}

.radio{
  // display: none;
  
  height: 25px;
  width: 100vw;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 889;
  .radio-wrapper{
    height: 25px;
    margin-top: 0px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    // filter: invert(1) contrast(100);
    color: white;
    font-size: 16px;
    font-weight: 100;
    p{
      display: inline-block;
      margin: 2px 0px 2px 10px;
      font-size: 16px;
      width: 100%;
      font-weight: 100;
    }
    audio::-webkit-media-controls-panel{
      background-color: black;
      padding-top: 8px;
    }
    audio::-webkit-media-controls-mute-button, audio::-webkit-media-controls-play-button, audio::-webkit-media-controls-timeline-container, audio::-webkit-media-controls-current-time-display, audio::-webkit-media-controls-time-remaining-display, audio::-webkit-media-controls-timeline, audio::-webkit-media-controls-volume-slider-container,audio::-webkit-media-controls-volume-slider, audio::-webkit-media-controls-seek-back-button, audio::-webkit-media-controls-seek-forward-button, audio::-webkit-media-controls-fullscreen-button, audio::-webkit-media-controls-rewind-button, audio::-webkit-media-controls-return-to-realtime-button, audio::-webkit-media-controls-toggle-closed-captions-button {
      filter: invert(1);
    }
    audio::-webkit-media-controls-timeline-container{
      filter: invert(1);
    }
    audio{
      height: 25px;
      max-height: 25px;
      outline: none;
      transform: scale(0.85);
      margin-top: -4px;
      margin-left: -10px;
      filter: contrast(100);

      // filter: invert(1);
    }
  }
}

.menu.topbanner .menu-wrapper, .menu.topbanner .hamburger{
  margin-top: 25px;
}

.container.topbanner{
  margin-top: 25px;
}

.mobile-radio{
  display: none;
}

.max-length{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 20; /* number of lines to show */
  line-clamp: 20; 
  -webkit-box-orient: vertical;
  max-height: 720px;
  .margin{
    margin-bottom: 10px;
  }
  &.show-more{
    max-height: 100%;
    display: block;
    -webkit-line-clamp: none; /* number of lines to show */
    line-clamp: none; 
    -webkit-box-orient: none;
  }
}

.show-all-button{
  margin-top: 5px;
  width: 100%;
  border-top: 2px solid black;
  padding-top: 5px;
  cursor: pointer;
  font-size: 30px;
  &:before{
    content: "Show all"
  }
  &.show-more{
    &:before{
      content: "Show less"
    }
  }
}

@media only screen and (max-width: 600px) {
  .radio{
    display: flex;
    justify-content: space-between;
    .radio-wrapper {
      p{
        display: none;
      }
      width: 45%;
    }
  }
  .mobile-radio {
    display: inline-block;
    color: white;
    font-size: 16px;
    font-weight: 100;
    margin: 2px;
    padding-right: 5px;
    font-size: 14px;
    white-space: nowrap;
    overflow-x: scroll;
  }
}



//mailchimp

.newsletter{
  cursor: pointer;
}

.mail-modal{
  .close{
    position: fixed;
    top: 14px;
    z-index: 999;
    right: 24px;
    cursor: pointer;
  }
}
.newsletter-subscribe{
  padding: 24px;
  width: 100vw;
  position: fixed;
  background-color: white;
  left: 0;
  z-index: 99;
  top: 0;
  box-sizing: border-box;
  .mc-field-group{
    width: 100%;
  }
  input{
    width: 100%;
    font-size: 30px;
    border: none;
    border-bottom: 1px solid black;
    padding: 5px;
  }
  .wp-block-button__link{
    width: 100%;
    display: inline-block;
    text-align: right;
    cursor: pointer;
  }
  p{
    font-size: 16px;
  }
  .flex{
    display: flex;
    align-items: end;
  }
}


// images grid

.images-grid{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  .image-item{
    margin-right: 1%;
    box-sizing: border-box;
    width: 24%;
    position: relative;
    img{
      object-fit: cover;
      object-position: center;
      aspect-ratio: 4/3;
    }
  }
}

p img{
  width: 100px;
}