@font-face {
  font-family: "SuisseIntl";
  src: url("../fonts/SuisseIntl-Medium-WebM.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("../fonts/SuisseIntl-Regular-WebM.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("../fonts/SuisseIntl-Light-WebM.woff2");
  font-weight: 200;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("../fonts/ABCDiatypeMono-Regular-Trial.woff2");
  font-weight: 100;
}

@font-face {
  font-family: "Sonic";
  src: url("../fonts/SonicLogoV02-Medium.woff");
  font-weight: 100;
}

@font-face {
  font-family: "Sonic Logo";
  src: url("../fonts/Sonic-Acts-Logo-V03.woff2");
  font-weight: 100;
}



body,
html {
  font-family: "SuisseIntl";
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 30px;
  padding-bottom: 40px;
  overflow-x: hidden;
  background-color: #e6e6e6;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
  outline: none!important;
}

.logo {
  position: relative;
  h1 {
    font-family: "Sonic Logo";
    font-weight: 300;
  }
  .s1{
    position: absolute;
    // z-index: 1;
  }
  .s2{
    position: absolute;
    top: 120px;
    z-index: 0;
  }
}

.logo-small {
  position: relative;
  margin-right: 48px;
  span {
    font-family: "Sonic Logo";
    font-weight: 300;
    font-size: 64px;
  }
  .glitch{
    font-size: 64px;
    font-feature-settings: "ss02" on;
    &:before, &:after{
      font-feature-settings: "ss03" on;
    }
  }
}

.glitch {
  color: #000;
  font-family: "Sonic Logo";
  font-size: 135px;
  font-feature-settings: "ss01" on;
  position: relative;
  width: auto;
  margin: -18px auto;
  display: inline-block;
  transition-delay: var(--delay);
  transition: all var(--delay) ease-in-out;
  span{
    display: inline-block;
  }
}
@keyframes noise-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(120) + px, 600px, random(120) + px, 0);
    }
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  font-feature-settings: "ss02" on;
  left: 0px;
  top: 0px;
  // color: #e6e6e6;
  color: #000;
  background: #e6e6e6;
  overflow: hidden;
  clip: rect(0, 300px, 0, 0);
  animation: noise-anim 30s infinite ease-in-out alternate;
  animation-delay: var(--delay);
}

@keyframes noise-anim-2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(120) + px, 600px, random(120) + px, 0);
    }
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  font-feature-settings: "ss02" on;
  left: 0px;
  top: 0px;
  color: black;
  // background: transparent;
  background: #e6e6e6;
  overflow: hidden;
  clip: rect(0, 300px, 0, 0);
  animation: noise-anim-2 30s infinite ease-in-out alternate;
  animation-delay: var(--delay);
}

.filter-text {
  font-family: "Sonic";
  font-size: 125px;
  line-height: 0.9;
  overflow: hidden;
  position: relative;
  float: left;
  font-weight: 300;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

.iframe-wrapper{
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  .iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.container {
  padding: 14px 1vw;
}

h1,
h2 {
  font-size: 48px;
  margin: 0;
}

#title {
  letter-spacing: 0.4px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.13636;
}

#banner {
  margin: 20px;
  height: 800px;
}

#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

.small-logo {
  height: auto;
  width: 300px;
}

.columns {
  width: 100%;
  .wrapper-medium {
    width: 1100px;
    display: flex;
    align-items: flex-start;
    padding-bottom: 24px;
  }
  .wrapper-large {
    width: 100%;
    display: flex;
    align-items: flex-start;
    border-top: 2px solid #000;
    padding-top: 24px;
  }
  .highlight{
    padding-right: 48px;
    div{
      border-radius: 50%;
      width: 360px;
      height: 360px;
      margin: 0px 20px 20px 10px!important;
    }
    a {
      color: #000;
    }
    span{
      font-size: 14px;
      padding-left: 24px;
    }
    h3{
      margin: 0;
      line-height: 1;
      font-weight: 500;
      padding-left: 24px;
    }
  }
  .intro-text {
    width: 430px;
    h1{
      font-weight: 500;
      line-height: 1.1;
    }
  }
  .image {
    width: 370px;
    height: auto;
    margin-right: 100px;
  }
}

.wrapper {
  width: 900px;
}

.collapsible.about {
  padding: 10px 0;
  width: 100%;
  text-transform: capitalize;
  font-size: 48px;
  cursor: pointer;
  .Collapsible{
    span{
      display: block;
      border-bottom: 2px solid #000;
      padding: 14px 350px;
    }
  }
  .Collapsible__contentInner{
    padding: 14px 0;
  }
  .text-block.small p {
    padding: 0;
  }
  p{
    margin: 0;
  }
}

.home-menu {
  width: calc(100% - 470px);
  .collapsible {
    padding: 10px 0;
    border-bottom: 2px solid #000;
    width: 100%;
    text-transform: capitalize;
    font-size: 48px;
    cursor: pointer;
    a{
      color: #000;
    }
    .category {
      font-size: 14px;
      font-weight: 300!important;
    }
    .slider-item{
      .show-more{
        width: 100%;
        text-align: center;
        margin-top: 75px;
        a{
          padding-right: 100px;
          font-size: 30px !important;
          font-weight: bold;
        }
      }
    }
    &.news{
      .slider-item{
        .text{
          span{
            font-size: 21px;
          }
        }
      }
    }
    &.agenda {
      .slider-item {
        .text {
          span {
            font-weight: 200;
          }
        }
      }
    }
    &.community {
      .slick-slider{
        height: 240px;
      }
      .slick-slide{
        min-width: 450px;
      }
      .slider-item {
        align-items: center;
        .image{
          border-radius: 50%;
          overflow: hidden;
          width: 120px;
          height: 120px;
        }
        .text{
          height: 200px;
          justify-content: center;
          h2{
            font-size: 30px;
            line-height: 1.2;
          }
          font-size: 30px;
          span{
            font-size: 21px;
          }
          a{
            margin-top: 14px;
          }
        }
      }
    }
  }
}

.menu {
  position: relative;
  margin: -14px 0 0 0;
  padding: 0;
  .menu-wrapper {
    top: 0;
    width: 98vw;
    left: 1vw;
    display: flex;
    justify-content: space-between;
    padding: 14px 0 4px 0;
    border-bottom: 2px solid #000;
    .breadcrumbs {
      display: flex;
      .small-logo {
        margin-right: 48px;
      }
      .logo-wrapper{
        a{
          text-transform: none;
          margin: 0;
        }
      }
      a {
        display: block;
        color: #000;
        text-decoration: none;
        text-transform: capitalize;
        font-size: 48px;
        font-weight: 500;
        margin-top: -4px;
      }
    }
  }
}

.hamburger {
  position: fixed;
  right: 1vw;
  top: 14px;
  cursor: pointer;
}

.menu-modal {
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  width: 100vw;
  max-width: 1400px;
  background-color: #e6e6e6;
  background: url('../noise-bg.png');
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  .close {
    cursor: pointer;
    margin: 14px 1vw;
    right: 0;
    position: fixed;
    top: 0;
  }
  .menu-links {
    font-size: 30px;
    margin-left: calc(100% - 300px);
    a {
      display: block;
      width: 100%;
      color: #000;
      text-transform: capitalize;
      padding: 10px 14px;
      font-weight: 200;
    }
    .home {
      font-weight: 500;
      line-height: 1;
      margin-bottom: 14px;
    }
    .menu-link {
      margin-left: 20px;
    }
  }
}

.slick-slider{
  position: relative;
  .slick-list{
    position: relative;
    &:before {
      content: ' ';
      width: 400px;
      height: 100%;
      background: url('../noise-bg.png');
      background-size: cover;
      position: absolute;
      z-index: 99;
      top: 0;
      left: 0;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
    &:after {
      content: ' ';
      width: 400px;
      height: 100%;
      background: url('../noise-bg.png');
      background-size: cover;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .slick-slide{
    transition: all 0.4s ease-in-out!important;
    .slider-item{
      margin-top: 24px;
      display: flex!important;
      align-items: flex-start;
      // width: 100%;
      h2{
        width: 100%;
        line-height: 1.1;
      }
      p{
        font-size: 30px;
      }
      .image{
        width: 50%;
        height: 18vw;
        margin: 0;
        div{
          width: 100%;
          height: 100%;
        }
      }
      .text{
        padding-left: 20px;
        width: 50%;
        height: 18vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        div:nth-child(1){
          display: flex;
          align-items: flex-start;
          flex-direction: column;
        }
        a{
          font-size: 30px;
        }
      }
    }
    .contact-item {
      margin-top: 24px;
      width: 400px;
      &.adres {
        width: 400px;
        max-width: 400px;
      }
    
      h5 {
        font-weight: 500;
        margin: 0;
      }
    
      p {
        font-size: 24px;
        margin: 0;
        padding: 0 24px;
        margin-bottom: 20px;
        line-height: 1.2;
      }
    
      &.small p {
        a {
          font-size: 30px;
          font-weight: 300;
          display: block;
        }
    
        font-size: 14px;
        font-weight: 100;
        text-transform: lowercase;
      }
    }
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transform: translateX(1000px);
  transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateX(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateX(1000px);
}
