
.timetable{
	height: auto;
	overflow-y: hidden;
	//zoom: 90%;
	margin-top: 24px;
	.artists {
		display: flex;
		flex-wrap: wrap;
		font-size: 80%;
		div {
			margin-left: 5px;
		}

		div:after {
			content: ', '
		}
		div:last-child:after {
			content: ''
		}
	}
	.timetable-menu{
		width: 100%;
		background-color: #b4c8c8;
		position: fixed;
		top: 100px;
		z-index: 6;
		padding: 14px 0;
		margin-top: -10px;
		select{
			outline: none;
			appearance: none;
			margin-left: 14px;
			font-size: 24px;
			padding: 5px 20px;
			border-radius: 25px;
			border: none;
			color: black;
			background-color: white;
			option{
				color: black;
			}
		}
		.date{
			margin: 0 14px 10px 0;
			background-color: white;
			padding: 5px 20px;
			border-radius: 25px;
			font-size: 18px;
			cursor: pointer;
		}
	}
	.timetable-locations{
		margin-top: 24px;
		.timetable-wrapper {
			width: calc(24 * 200px + 250px);
			position: relative;
		}
		overflow-x: scroll;
		/* width */
		&::-webkit-scrollbar {
			width: 10px;
		}

		/* Track */
		&::-webkit-scrollbar-track {
			background: transparent;
			border: 1px solid black;
		}

		/* Handle */
		&::-webkit-scrollbar-thumb {
			background: black;
			border-radius: 25px;
		}

		overflow-y: hidden;
		min-height: 80vh;
		.location{
			// min-height: 150px;
			height: 100%;
			border-top: 1px solid black;
			position: sticky;
			z-index: 5;
			left: 0;
			width: 250px;
			background-color: #b4c8c8;
			display: inline-block;
			vertical-align: middle;
			word-break: break-all;
			h4{
				font-weight: 500;
				margin: 0;
				padding: 20px 0;
			}
			:nth-child(2) {
				padding-top: 14px;

			}
			p{
				font-weight: 300;
				margin: 0;
				font-size: 24px;
				padding: 24px 0;
				border-bottom: 1px solid black;
				padding-left: 14px;
			}
		}
	}
	.timetable-row{
		vertical-align: middle;
		position: relative;
		display: flex;
		// height: auto;
		&:nth-child(2){
			margin-top: 100px;
		}
		// margin-top: 10px;
		.sub-bar{
			height: 80px;
			position: sticky;
			margin-left: -250px;
			&:first-child{
				margin-top: 70px;
			}
			.sub-loc{
				height: 90px;
				max-height: 90px;
			}
		}
		.subloc-wrapper{
			position: sticky;
			margin-left: -250px;
			.subloc {
				position: relative;
				display: flex;
				flex-direction: column;
			}
		}
		.programme{
			display: inline-block;
			background-color: white;
			vertical-align: middle;
			left: var(--margin);
			margin-left: 5px;
			// min-width: 190px;
			width: var(--width);
			position: absolute;
			height: auto;
			border-radius: 10px;
			transition: all 0.4s ease-in-out;
			top: 0;
			margin-top: 10px;
			&:hover{
				background-color: #000!important;
				color: white;
			}
			// margin: 50px 0px 0 10px;
			.inner-programme {
				padding: 10px;
				font-size: 16px;
				width: 98%;
				position: relative;
				display: flex;
				.inner-wrapper{
					position: sticky;
					left: 260px;
					
					// display: flex;
					// flex-wrap: wrap;
				}
				.time{
					margin-left: 5px;
				}
				.title{
					font-weight: 500;
					margin-left: 5px;
					display: -webkit-box;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
					overflow: hidden;
				}
			}
			&.whole-day{
				height: 45px;
				top: 0;
				margin-top: 50px;
			}
			&.one-sun-after-another {
				background-color: rgb(252, 221, 229);

				& .artists {
					display: none;
				}
			}
			&.one-sun-after-another-sub {
				background: linear-gradient(-90deg, rgba(255, 255, 255, 1) 10%, rgba(252, 221, 229, 1) 100%);
				&:hover {
					background: #000;
				}
			}

			&.inner-earth {
				background-color: rgb(213, 244, 213);

				& .artists {
					display: none;
				}
			}
			&.inner-earth-sub{
				background: linear-gradient(-90deg, rgba(255, 255, 255, 1) 10%, rgba(213, 244, 213, 1) 100%);
				&:hover {
					background: #000;
				}
			}

			&.leaving-traces {
				background-color: rgb(255, 255, 13);

				& .artists {
					display: none;
				}
			}

			&.leaving-traces-sub {
				background: linear-gradient(-90deg, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 13, 1) 100%);
				&:hover {
					background: #000;
				}
			}

			&.practicum {
				background-color: #bababa;

				& .artists {
					display: none;
				}
			}

			&.practicum-sub {
				background: linear-gradient(-90deg, rgba(255, 255, 255, 1) 10%, #bababa 100%);
				&:hover{
					background: #000;
				}
			}

			&.symposium-leaving-traces {
				background-color: rgb(255, 255, 13);

				& .artists {
					display: none;
				}
			}
		}
	}
	.timetable-times{
		white-space: nowrap;
		margin-left: 250px;
		width: calc(24 * 200px + 250px);
		position: absolute;
		height: 100%;
		top: -48px;
		.time-block{
			display: inline-block;
			width: 200px;
			border-left: 1px solid black;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			height: calc(100% + 50px);
			padding-left: 10px;
		}
	}
	.date.active{
		background-color: #000;
		color: white;
	}
}

@media only screen and (max-width: 900px) {
	.timetable{
		.timetable-menu{
			margin-top: 14px;
			select{
				font-size: 80%;
			}
		}
		.timetable-times{
			margin-left: 100px;
			width: calc(24 * 100px + 50px);
		}
		.timetable-locations{
			.timetable-wrapper{
				width: calc(24 * 100px + 50px);
			}
			.location{
				width: 100px;
				margin-left: -5px;
				h4{
					padding: 24px 0;
					font-size: 80%;
				}
				p{
					font-size: 70%;
					padding-left: 0px;
					word-break: keep-all;
				}
			}
		}
		.timetable-row{
			.sub-bar{
				&:first-child{
					margin-top: 74px;
				}
				height: 68px;
			}
			.programme{
				left: calc(var(--margin) - 150px);
				.inner-programme{
					.inner-wrapper{
						left: 110px;
					}
				}
			}
		} 
	}
}